<!DOCTYPE html>
<html>
    <head>
    <title>Hi</title>
</head>
<body>
    <form method="POST">
        I see myself as someone who is..
        
        <br><br>
        
        1) is reserved... <br>
        <input type="radio" name="q1" value="1">
            <label for="1">1</label>
        <input type="radio" name="q1" value="2">
            <label for="2">2</label>
        <input type="radio" name="q1" value="3">
            <label for="3">3</label>
        <input type="radio" name="q1" value="4">
            <label for="4">4</label>
        <input type="radio" name="q1" value="5">
            <label for="3">5</label>
        
        <br><br>
        
        2) is generally trusting... <br>
        <input type="radio" name="q2" value="1">
            <label for="1">1</label>
        <input type="radio" name="q2" value="2">
            <label for="2">2</label>
        <input type="radio" name="q2" value="3">
            <label for="3">3</label>
        <input type="radio" name="q2" value="4">
            <label for="4">4</label>
        <input type="radio" name="q2" value="5">
            <label for="3">5</label>
        
        <br><br>
        
        3) tends to be lazy... <br>
        <input type="radio" name="q3" value="1">
            <label for="1">1</label>
        <input type="radio" name="q3" value="2">
            <label for="2">2</label>
        <input type="radio" name="q3" value="3">
            <label for="3">3</label>
        <input type="radio" name="q3" value="4">
            <label for="4">4</label>
        <input type="radio" name="q3" value="5">
            <label for="3">5</label>
            
        <br><br>

        4) is relaxed, handles stress well... <br>
        <input type="radio" name="q4" value="1">
            <label for="1">1</label>
        <input type="radio" name="q4" value="2">
            <label for="2">2</label>
        <input type="radio" name="q4" value="3">
            <label for="3">3</label>
        <input type="radio" name="q4" value="4">
            <label for="4">4</label>
        <input type="radio" name="q4" value="5">
            <label for="3">5</label>
        
        <br><br>

        5) has few artistic interests... <br>
        <input type="radio" name="q5" value="1">
            <label for="1">1</label>
        <input type="radio" name="q5" value="2">
            <label for="2">2</label>
        <input type="radio" name="q5" value="3">
            <label for="3">3</label>
        <input type="radio" name="q5" value="4">
            <label for="4">4</label>
        <input type="radio" name="q5" value="5">
            <label for="3">5</label>
        
        <br><br>

        6) is outgoing and sociable... <br>
        <input type="radio" name="q6" value="1">
            <label for="1">1</label>
        <input type="radio" name="q6" value="2">
            <label for="2">2</label>
        <input type="radio" name="q6" value="3">
            <label for="3">3</label>
        <input type="radio" name="q6" value="4">
            <label for="4">4</label>
        <input type="radio" name="q6" value="5">
            <label for="3">5</label>
        
        <br><br>

        7) tends to find fault with others... <br>
        <input type="radio" name="q7" value="1">
            <label for="1">1</label>
        <input type="radio" name="q7" value="2">
            <label for="2">2</label>
        <input type="radio" name="q7" value="3">
            <label for="3">3</label>
        <input type="radio" name="q7" value="4">
            <label for="4">4</label>
        <input type="radio" name="q7" value="5">
            <label for="3">5</label>
        
        <br><br>

        8) does a thorough job... <br>
        <input type="radio" name="q8" value="1">
            <label for="1">1</label>
        <input type="radio" name="q8" value="2">
            <label for="2">2</label>
        <input type="radio" name="q8" value="3">
            <label for="3">3</label>
        <input type="radio" name="q8" value="4">
            <label for="4">4</label>
        <input type="radio" name="q8" value="5">
            <label for="3">5</label>
        
        <br><br>

        9) gets nervous easily... <br>
        <input type="radio" name="q9" value="1">
            <label for="1">1</label>
        <input type="radio" name="q9" value="2">
            <label for="2">2</label>
        <input type="radio" name="q9" value="3">
            <label for="3">3</label>
        <input type="radio" name="q9" value="4">
            <label for="4">4</label>
        <input type="radio" name="q9" value="5">
            <label for="3">5</label>
        
        <br><br>

        10) has an active imagination... <br>
        <input type="radio" name="q10" value="1">
            <label for="1">1</label>
        <input type="radio" name="q10" value="2">
            <label for="2">2</label>
        <input type="radio" name="q10" value="3">
            <label for="3">3</label>
        <input type="radio" name="q10" value="4">
            <label for="4">4</label>
        <input type="radio" name="q10" value="5">
            <label for="3">5</label>
        
        <br><br>

        Favorite Genres: (Select FIVE ONLY!)<br>
        <input type="checkbox" name="genre" value="pop">
            <label for="genre">Pop</label>
        <input type="checkbox" name="genre" value="rap">
            <label for="genre">Rap</label>
        <input type="checkbox" name="genre" value="rock">
            <label for="genre">Rock</label>
        <input type="checkbox" name="genre" value="country">
            <label for="genre">Country</label>
        <input type="checkbox" name="genre" value="indie">
            <label for="genre">pov: indie</label>
        
        <br>

        <input type="checkbox" name="genre" value="metal">
            <label for="genre">Metal</label>
        <input type="checkbox" name="genre" value="poppunk">
            <label for="genre">Pop-Punk</label>
        <input type="checkbox" name="genre" value="edm">
            <label for="genre">EDM</label>
        <input type="checkbox" name="genre" value="soul">
            <label for="genre">soul</label>
        <input type="checkbox" name="genre" value="singersongwriter">
            <label for="genre">Singer-songwriter</label>

        <br><br>

        <input type="submit">
    </form>

    <br><br>

     {{ htmlstr|safe }}
</body>
</html>
